.player_card {
    margin: 10px;
    padding-bottom: 10px;
    border: 1px greenyellow solid;
    border-radius: 15px;
}

.player_header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 5px;
}

.player_score {
    min-width: 70px;
    font-weight: 900;
    font-size: 2em;
}

.player_name {
    margin-left: 40px;
    font-size: 2em;
}

.player_control {
    position: absolute;
    padding: 4px;
    border: 1px #fff solid;
    background-color: #000;
    color: #fff;
    font-size: 1.5em;
    font-weight: 900;
}

.player_delete {
    top: 0;
    left: 0;
    border-radius: 15px 0 0 0;
    border-top: 0;
    border-left: 0;
}

.player_reset {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 0;
    border-top: 0;
    border-right: 0;
}

.player_answers-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.player_answer {
    font-size: 1.2em;
    min-width: 45px;
}

.player_answer-correct {
    color: lightgreen;
}

.player_answer-wrong {
    color: red;
}

.player_answer-button-separator {
    margin: 0 10px;
}

.player_button {
    border: 1px solid #000;
    margin: 7px 10px;
    padding: 10px;
    color: #000;
}

.player_button-pos {
    background-color: lightgreen;
}

.player_button-neg {
    background-color: lightcoral;
}
